body{
    background: url(../img/3.png) repeat-y 100% fixed;
}
.aqua{
    color: aquamarine;
    text-decoration: overline solid orange;
}
.right{
    text-align: right;
}
.blue{
    color: blue;
}
.center{
    text-align: center; 
}
.big{
    font-size: 2rem;
}
.first-line:first-line{
    font-weight: bold;
}
.alpha{
    list-style-type: lower-greek;
}
.disc{
    list-style-type: disc;
}
.table{
    border-top: 20px darkcyan solid;
    border-right: 5px dashed aqua;
    border-bottom: 10px inset purple;
    border-left: 10px dotted orange;
}